{% extends 'weebs/base.html' %}
{% load static %}

{% block body %}

    
   
        
    
    <!-- content
    ================================================== -->
    <section class="s-content s-content--single">
        <div class="row">
            <div class="column large-12">
                {% for post in post %}
                    {% if post.Type == 'manhwa' %}
                    
                        <article class="s-post entry format-standard">
                            <div class="s-content__primary">

                                <h2 class="s-content__title s-content__title--post">Manhwa </h2>
                               
</div>
                            <div class="s-content__media">
                                <div class="s-content__post-thumb">
                                    
                                    <img src=" {{ post.poster_image_md.url }} " 
                                        srcse " {{ post.poster_image_lg }} 2100w, 
                                                {{ post.poster_image_md }}  1050w, 
                                                {{ post.poster_image_sm }} 525w " sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                                </div>
                            </div> <!-- end s-content__media -->

                        

                            <div class="s-content__primary">

                                <h2 class="s-content__title s-content__title--post">{{ post.title }} </h2>

                                <ul class="s-content__post-meta">
                                    <li class="date">{{ post.created_on }}</li>
                                  
                                </ul>

                                <p class="lead">
                                    {{ post.body }}
                            </p> 

                               


                                

                                {% for manhwa in post.manhwa.all %}
                                <h2>{{ manhwa.title }}</h2>
                                {% if manhwa.image %}
                                <img src="{{ manhwa.image.url }}" class="img-fluid" alt="Responsive image">
                                {% endif %}
                                <blockquote> 
                                    <p>
                                        {{ manhwa.about}}
                                    </p>
                                    <cite>John 3:16-17 ESV</cite>
                                </blockquote>

                                <p>{{ manhwa.story }}.</p>
                                {% endfor %}
                                
                                <p class="s-content__post-tags">
                                    <span>Tagged in :</span>
                                    <a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
                                </p>

                                <div class="s-content__author">
                                    <img src=" {% static 'images/avatars/user-06.jpg' %} " alt="">

                                    <div class="about">
                                        <h5><a href="#">Jonathan Smith</a></h5>
                                    
                                        <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </p>

                                        <ul class="author-social">
                                            <li><a href=" {% static '#0' %} ">Facebook</a></li>
                                            <li><a href=" {% static '#0' %} ">Twitter</a></li>
                                            <li><a href=" {% static '#0' %} ">Dribbble</a></li>
                                            <li><a href=" {% static '#0' %} ">Instagram</i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- end s-content__author -->


                                <div class="s-content__pagenav group">
                                    <div class="prev-nav">
                                        <a href="#" rel="prev">
                                            <span>Previous</span>
                                            Tips on Minimalist Design 
                                        </a>
                                    </div>
                                    <div class="next-nav">
                                        <a href="#" rel="next">
                                            <span>Next</span>
                                            Less Is More 
                                        </a>
                                    </div>
                                </div> <!-- end s-content__pagenav -->

                            </div> <!-- end s-content__primary -->
                        </article>

                    {% elif post.Type == 'manhua' %}
                    
                        <article class="s-post entry format-standard">
                        
                            <div class="s-content__media">
                                <div class="s-content__post-thumb">
                                
                                    <img src=" {{ post.poster_image_md.url }} " 
                                        srcse "{{ post.poster_image_lg.url }} 2100w, 
                                                {{ post.poster_image_md.url }}  1050w, 
                                                {{ post.poster_image_sm.url }} 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                                
                                </div>
                            </div> <!-- end s-content__media -->

                        

                            <div class="s-content__primary">

                                <h2 style="color: #111322 ;" class="s-content__title s-content__title--post">{{ post.title }} </h2>

                                <ul class="s-content__post-meta">
                                    <li class="date">{{ post.created_on }}</li>
                                    <li class="cat"><a href=" {% static '' %} ">Frontend</a><a href="">Design</a></li>
                                </ul>

                                <p class="lead" style="color: #a03e4a; font-weight: 200;">
                                    {{ post.body }}
                            </p> 

                                

                                

                                {% for manhua in post.manhua.all %}
                                <h2>{{ manhua.title }}</h2>
                                {% if manhua.image %}
                                <img src="{{ manhwa.image.url }}" style="margin-left: 3%; height: 301px;" alt="img">
                                {% endif %}
                                <blockquote> 
                                    <p>
                                        <strong>{{ manhua.about}}</strong>
                                    </p>
                                    <cite>John 3:16-17 ESV</cite>
                                </blockquote>

                                <p>{{ manhua.story }}</p>
                                {% endfor %}
                                
                                <p class="s-content__post-tags">
                                    <span>Tagged in :</span>
                                    <a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
                                </p>

                                <div class="s-content__author">
                                    <img src=" {% static 'images/avatars/user-06.jpg' %} " alt="">

                                    <div class="about">
                                        <h5><a href="#">Jonathan Smith</a></h5>
                                    
                                        <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </p>

                                        <ul class="author-social">
                                            <li><a href=" {% static '#0' %} ">Facebook</a></li>
                                            <li><a href=" {% static '#0' %} ">Twitter</a></li>
                                            <li><a href=" {% static '#0' %} ">Dribbble</a></li>
                                            <li><a href=" {% static '#0' %} ">Instagram</i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- end s-content__author -->


                                <div class="s-content__pagenav group">
                                    <div class="prev-nav">
                                        <a href="#" rel="prev">
                                            <span>Previous</span>
                                            Tips on Minimalist Design 
                                        </a>
                                    </div>
                                    <div class="next-nav">
                                        <a href="#" rel="next">
                                            <span>Next</span>
                                            Less Is More 
                                        </a>
                                    </div>
                                </div> <!-- end s-content__pagenav -->

                            </div> <!-- end s-content__primary -->
                        </article>

                    {% endif %}
                {% endfor %}


            </div> <!-- end column -->
        </div> <!-- end row -->


        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="column">

                    <h3>5 Comments</h3>

                    <!-- START commentlist -->
                    <ol class="commentlist">

                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img class="avatar" src=" {% static 'images/avatars/user-01.jpg' %} " alt="" width="50" height="50">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <div class="comment__author">Itachi Uchiha</div>

                                    <div class="comment__meta">
                                        <div class="comment__time">Sept 05, 2020</div>
                                        <div class="comment__reply">
                                            <a class="comment-reply-link" href=" {% static '#0' %} ">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate,
                                facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.</p>
                                </div>

                            </div>

                        </li> <!-- end comment level 1 -->

                        <li class="thread-alt depth-1 comment">

                            <div class="comment__avatar">
                                <img class="avatar" src=" {% static 'images/avatars/user-04.jpg' %} " alt="" width="50" height="50">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <div class="comment__author">John Doe</div>

                                    <div class="comment__meta">
                                        <div class="comment__time">Sept 05, 2020</div>
                                        <div class="comment__reply">
                                            <a class="comment-reply-link" href=" {% static '#0' %} ">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod
                                urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et
                                tantas semper delicatissimi.</p>
                                </div>

                            </div>

                            <ul class="children">

                                <li class="depth-2 comment">

                                    <div class="comment__avatar">
                                        <img class="avatar" src=" {% static 'images/avatars/user-03.jpg' %} " alt="" width="50" height="50">
                                    </div>

                                    <div class="comment__content">

                                        <div class="comment__info">
                                            <div class="comment__author">Kakashi Hatake</div>

                                            <div class="comment__meta">
                                                <div class="comment__time">Sept, 05 2020</div>
                                                <div class="comment__reply">
                                                    <a class="comment-reply-link" href=" {% static '#0' %} ">Reply</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comment__text">
                                            <p>Duis sed odio sit amet nibh vulputate
                                            cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate
                                            cursus a sit amet mauris</p>
                                        </div>

                                    </div>

                                    <ul class="children">

                                        <li class="depth-3 comment">

                                            <div class="comment__avatar">
                                                <img class="avatar" src=" {% static 'images/avatars/user-04.jpg' %} " alt="" width="50" height="50">
                                            </div>

                                            <div class="comment__content">

                                                <div class="comment__info">
                                                    <div class="comment__author">John Doe</div>

                                                    <div class="comment__meta">
                                                        <div class="comment__time">Sept 04, 2020</div>
                                                        <div class="comment__reply">
                                                            <a class="comment-reply-link" href=" {% static '#0' %} ">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comment__text">
                                                <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                                                etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li> <!-- end comment level 1 -->

                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img class="avatar" src=" {% static 'images/avatars/user-02.jpg' %} " alt="" width="50" height="50">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <div class="comment__author">Shikamaru Nara</div>

                                    <div class="comment__meta">
                                        <div class="comment__time">Sept 03, 2020</div>
                                        <div class="comment__reply">
                                            <a class="comment-reply-link" href=" {% static '#0' %} ">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                </div>

                            </div>

                        </li>  <!-- end comment level 1 -->

                    </ol>
                    <!-- END commentlist -->

                </div> <!-- end col-full -->
            </div> <!-- end comments -->


            <div class="row comment-respond">

                <!-- START respond -->
                <div id="respond" class="column">

                    <h3>
                    Add Comment 
                    <span>Your email address will not be published.</span>
                    </h3>

                    <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                        <fieldset>

                            <div class="form-field">
                                <input name="cName" id="cName" class="h-full-width" placeholder="Your Name" value="" type="text">
                            </div>

                            <div class="form-field">
                                <input name="cEmail" id="cEmail" class="h-full-width" placeholder="Your Email" value="" type="text">
                            </div>

                            <div class="form-field">
                                <input name="cWebsite" id="cWebsite" class="h-full-width" placeholder="Website" value="" type="text">
                            </div>

                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="h-full-width" placeholder="Your Message"></textarea>
                            </div>

                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Add Comment" type="submit">

                        </fieldset>
                    </form> <!-- end form -->

                </div>
                <!-- END respond-->

            </div> <!-- end comment-respond -->

        </div> <!-- end comments-wrap -->

    </section> <!-- end s-content -->


    {% endblock %}